html {
    height: 100%;
    width: 100%;
    overflow: hidden;
    min-width: 100%;
    min-height: 100%;
   }
    
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Pontano Sans', sans-serif;
    color: black;
}

h1 {
    font-size: 48px;
    font-weight: bold;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    display: inline;
    margin-right: 24px;
}

a, a:hover, a:visited {
  color: black !important;
  text-decoration: none !important;
  height: auto;
}

ul {
    list-style-type: none;
    padding: 0 !important;
}

li {
    display: inline;
    padding-right: 24px;
    color: black !important;
    font-size: 24px;
}

button {
    border: 2px solid black;
    background-color: transparent;
    display: inline;
}

.container-fluid {
    height: 100%;
    display: table;
    width: 100%;
    padding: 0;
    opacity: 0.8;
    background-color: white;
}

.row {
    margin-top: 10%;
}

#map {
    position:absolute;
    top:0; bottom:0; 
    width:100%; 
}




