body {
    font-family: 'Roboto', sans-serif;
    background-color: #29335C;
    color: white;
}

.container{ 
    background-color: #29335C;
}

.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

.vertical-center {
    display: inline-block;
    vertical-align: middle;
}

.box1{
    background-color: #0A1F18;
    height: 75%;
    width: 75%;
}

h1{
    text-align: center;       
    font-size: 48px;
    margin: 0 auto;
}
        
h2{
    text-align: center;    
}

ul{
    text-align: center;
    list-style-type: none;
}

li {
    display: inline-block;
    padding-right: 24px;
}