html {
    height: 100%;
    width: 100%;
    overflow: hidden;
    min-width: 100%;
    min-height: 100%;
   }
    
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Pontano Sans', sans-serif;
    color: black;
}

.container-fluid {
    height: 100%;
    display: table;
    width: 100%;
    padding: 0;
    opacity: 0.75;
    background-color: white;
}

.row {
    height: 33% !important;
}

.row-fluid {
    height: 33%;
    display: table-cell; 
}

.centering {
    float: none;
    
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 48px;
    margin: 0 auto;
}

h2 {
    text-align: center;
    font-size: 24px;
    margin-top: 0.5%''
}

a, a:hover, a:visited {
  color: black !important;
  text-decoration: none;
  height: auto;
}

ul {
    text-align: center;
    list-style-type: none;
}

li {
    display: inline-block;
    padding-right: 24px;
    color: black !important;
}

i {
    color: black; 
}

#map {
    position:absolute;
    top:0; bottom:0; 
    width:100%; 
}

/*.content {
    opacity: 0.75;
    background-color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}*/


